body{
  background-color: rgb(241, 224, 191);
}
.box{
  width: auto;
  padding: 20px 50px 10px 50px;
  margin: 20px;  
}
.box1{
  width: auto;
  margin: 20px;
}
.hlight{
  color: rgb(78, 58, 1);
}
#output{
  color: rgb(39, 29, 1);
  font-size: x-large;
}