body{
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);
}
.box{
  width: auto;
  padding: 20px 50px 10px 50px;
  margin: 20px;  
}
.box1{
  padding: 25px;
}
.hlight{
  color: rgb(29, 24, 11);
}
#output{
  color: rgb(138, 60, 24);
  font-size: 30px;
}
.bg-back{
  background-color: rgb(198, 221, 226);
}
.height1{
  height: 60%;
}